#board {
    display: inline-block;
    vertical-align: top;
    width: 800px;
}

#info {
    display: inline-block;
    vertical-align: top;
    width: 600px;
}

button {
    margin: 5px 5px;
}

#moves {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#moves th, #moves td {
    padding: 2px;
}

#moves, #moves th, #moves td {
    border: 1px solid black;
}

#moves tr:nth-child(even) {
    background-color: #f2f2f2;
}

#moves td:first-child {
    width: 65px;
}

input[type=text] {
    width: 80px;
}

input[type=range] {
    width: 500px;
}

#trainingControls, #uciControls {
    display: none;
}