#board {
    display: inline-block;
    vertical-align: top;
    width: 800px;
}

#info {
    display: inline-block;
    vertical-align: top;
    width: 600px;
}

button {
    margin: 5px 5px;
}

.spare-pieces-7492f {
    display: inline-block;
    padding: 0px !important;
    margin: 5px 5px;
}

.spare-pieces-7492f img {
    width: 60px !important;
    height: 60px !important;
}

#sparePieces {
    display: none;
}

#moves {
    margin-top: 20px;
}

.move {
    padding: 5px;
    border: 1px solid gray;
    margin-top: -1px;
}

.move .san {
    display: inline-block;
    width: 50px;
}

input[type=text] {
    width: 80px;
}

input[type=range] {
    width: 500px;
}

#trainingControls, #uciControls {
    display: none;
}